#back{
	background: #cbdfef; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #cbdfef 0%, #59a6ef 53%, #236ce1 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#cbdfef), color-stop(53%,#59a6ef), color-stop(100%,#236ce1)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #cbdfef 0%,#59a6ef 53%,#236ce1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #cbdfef 0%,#59a6ef 53%,#236ce1 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #cbdfef 0%,#59a6ef 53%,#236ce1 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #cbdfef 0%,#59a6ef 53%,#236ce1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbdfef', endColorstr='#236ce1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#back2{
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.65) 0%, rgba(255,255,255,0.64) 1%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.65)), color-stop(1%,rgba(255,255,255,0.64)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.65) 0%,rgba(255,255,255,0.64) 1%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.65) 0%,rgba(255,255,255,0.64) 1%,rgba(0,0,0,0) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.65) 0%,rgba(255,255,255,0.64) 1%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(255,255,255,0.65) 0%,rgba(255,255,255,0.64) 1%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffffff', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}